html{
  font-family: Arial, sans-serif;

}
.wrapper{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.todo-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
  width: 100%;
  height: 100%;
}

h1 {
  margin: 0;
  font-size: 4rem;
  color: black;
}

button {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.add-button {
  border-radius: 0 5px 5px 0;
  background-color: hsl(125, 47%, 54%);
}

.add-button:hover {
  background-color: hsl(125, 47%, 44%);
}

.delete-button {
  background-color: hsl(10, 90%, 50%);
}

.delete-button:hover {
  background-color: hsl(10, 90%, 40%);
}

.move-button {
  background-color: hsl(207, 90%, 64%);
}

.move-button:hover {
  background-color: hsl(207, 90%, 54%);
}

input[type="text"] {
  margin-block: 40px 20px;
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px 0 0 5px ;
  color: hsla(0, 0%, 0%, 0.5);
}
ol{
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 0;
}
li {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
}

.text {
  flex: 1;
}

.delete-button,
.move-button {
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}

.modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: 200px;
  border-radius: 5px;
  background-color: hsla(0, 0%, 85%);
}
.modal-title{
  font-size: 1.6rem;
  margin-block: 20px 10px;
}

.modal-span{
  margin-bottom: 30px;
  font-size: 1.2rem;
}
.confirm-button{
  background-color: red;
}

.button-wrapper{
  display: flex;
  gap: 10px;
}

.checkbox{
  padding-right: 10px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.done{
  text-decoration: line-through;
}
.filter-buttons{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.filter-buttons button{
  background: #f0f0f0;
  color: #9f9f9f;
  font-size: 14px;
  padding: 8px 16px;
  
}
.filter-buttons button:hover {
  background-color: #e0e0e0;
}
.filter-buttons button.active {
  background-color: #4caf50;
  color: white;
}